<section class="page">
    <div class="card">
        <h2 class="card-title">Enviar convite de partida:</h2>
        <form class="form">
            <div class="form-grid">
                <label class="form-field">
                    <span>Data da partida: </span>
                    <input type="text" formControlName="data" />
                </label>

                <label class="form-field">
                    <span>Localização: </span>
                    <select formControlName="location">
                        <option [ngValue]="true">Casa</option>
                        <option [ngValue]="false">Adversário</option>
                    </select>
                </label>
            </div>

            <div class="form-actions">
                <button type="button" class="btn btn-primary">
                    {{ 'Enviar' }}
                </button>
            </div>
        </form>
    </div>
</section>