<div class="main-page" style="background-image: url('/assets/amateurFootbalBGImage.jpeg');">
    <div class="container">
        <h1 class="title">Welocome to Amateur Football!</h1>
        <p>
            Are you a fanatic for football and soccer like us but struggle to
            find people to play with? Do not worry! Here you'll be able to:
        </p>
        <ul>
            <li>
                Join Teams!
            </li>
            <li>
                Meet new people!
            </li>
            <li>
                Create your own custom Team!
            </li>
            <li>
                Hone your skills in casual mode!
            </li>
            <li>
                Test your experience in competitive mode!
            </li>
            <li>
                Have fun!
            </li>
        </ul>
        <a routerLink="/register">Create an account and start playing TODAY!</a>
    </div>
</div>